@import url(reset.css);

body{
    background-color: #FEFBF1;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: 
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

/* -----------------------主選單------------------------ */

/* Header 做滿版 */
.scroll-nav{
    background-color: #2F475D;
    max-width: 100%;
    /* height: 80px; */
    /* display: flex; */
    /* justify-content: center; */
    /* overflow: hidden; */

}

/* Header */
.nav{
    margin: 0 auto;
    /* border: 2px solid blue; */
    height: 80px;
    width: 1200px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-shrink: 1;

}

/* Logo圖 */
.nav img{
    display: inline-block;
    width: 180px;
}


/* 文字主標籤 */
.nav .main-sel{
    margin-left: 40px;
    /* border: 2px solid green; */
    display: flex;
    font-family: "Roboto Flex";
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1px;
    gap: 40px;
    margin-left: auto;
    z-index: 1;
}

.main-sel .title{
    position: relative;
}

.main-sel .title:hover ol{
    display: block;
    
}

.main-sel .title > a {
    text-decoration: none;
    color: #EFE09A;
    align-items: center;
    font-size: 20px;
    text-align: center;
   
}

.main-sel .title > a > p{
    /* border: 1px solid red; */

    padding: 4px 8px;

    position: relative;
}

.main-sel .title > a > p:hover:after{
    content: "";
    display: block;
    width: 88px;
    border-bottom: 3px solid #92C1CB;
    position: absolute;

    bottom: -4px;
    left: 6px;
}

.main-sel .title > ol{
    /* border: 1px solid blue; */
    position: absolute;
    padding-top: 22px;
    left: -10px;
    top: 36px;
    width: 120px;
    text-align: center;
    display: none;
}


.main-sel .title > ol li{
    background: rgba(47, 71, 93, 0.9);
    padding: 4px 8px;
}

.main-sel .title > ol li:hover{
    background-color: #5F446F;
}

.main-sel .title > ol li a{
    color: #EFE09A;
    text-decoration: none;
}


.main-sel .title:last-child{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    position: relative;
}

.main-sel .title:last-child > a > i{
    font-size: 24px;
    position: relative;
}

.main-sel .title:last-child > a > i:hover:after{
    content: "";
    display: block;
    width: 25px;
    border-top: 3px solid #92C1CB;
    position: absolute;
    right: 0;
    bottom: -12px;
}


.main-sel .title:last-child > ol{
    /* border: 1px solid red; */
    position: absolute;
    left: -92px;
    top: 36px;
}





/* ----------------- Footer ----------------------- */


.footer{
    /* border: 5px solid green; */
    width: 100%;
    bottom: 0;
    position: absolute;

}

.footer .footer-bg{
    width: 100%;
    background-color: #2F475D;
}

.footer div .main-footer{
    width: 1200px;
    height: 240px;
    background-color: #2F475D;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.footer div .main-footer .footer-logo{
    /* border: 2px solid red; */
    width: 270px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 48px;
}

.footer div .main-footer .footer-logo p{
    /* border: 2px s87olid #FEFBF1; */
    font-size: 14px;
    color: #FEFBF1;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 1px;
    text-align: left;
    width: 270px;
    padding: 16px 0;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
}

.footer div .main-footer a img{
    width: 180px;
    height: 56px;
}


.footer .main-footer>ul{
    display: flex;
    gap: 80px;

    /* border: 2px solid green; */
    margin-left: 86px;
}

.footer .main-footer>ul>li>a{
    color: #FEFBF1;
    line-height: 28px;
    text-decoration: none;
    display: block;
    /* border: 2px solid #FEFBF1; */
    width: 84px;
    height: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.footer .main-footer>ul>li>a:hover{
    color: #EFE09A;
}

.footer .main-footer>ul>li>.heading-link{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}


.footer .main-footer>ul>li>.heading-link:hover{
    color: #EFE09A;
}

/* ------ copyright--------- */


.footer .copyright{
    /* border: 5px solid purple; */
    height: 80px;
    color: #2F475D;
    /* border: 5px solid brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 220px ;
}

.footer .copyright p{
    line-height: 80px;
    font-weight: 500;
    line-height: 140%;
    font-size: 16px;
    font-family: "Roboto Flex", sans-serif;
}

.footer .copyright div a{
    text-decoration: none;
    margin-left: 24px;
    display: inline-block;
    height: 40px;
    /* border: 3px solid red; */
    line-height: 40px;
    text-align: center;
}

.footer .copyright div a i:hover{
    color: #B29671;
}


.footer .copyright div a i{
    font-size: 40px;
    color: #2F475D;
}
