@import url(reset.css);

body{
    background-color: #FEFBF1;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: 
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

/* -----------------------主選單------------------------ */

/* Header 做滿版 */
.scroll-nav{
    background-color: #2F475D;
    max-width: 100%;
    /* height: 80px; */
    /* display: flex; */
    /* justify-content: center; */
    /* overflow: hidden; */

}

/* Header */
.nav{
    margin: 0 auto;
    /* border: 2px solid blue; */
    height: 80px;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-shrink: 1;

}

/* Logo圖 */
.nav img{
    display: inline-block;
    width: 180px;
}


/* 文字主標籤 */
.nav .main-sel{
    margin-left: 40px;
    /* border: 2px solid green; */
    display: flex;
    font-family: "Roboto Flex";
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1px;
    gap: 40px;
    margin-left: auto;
    z-index: 1;
}

.main-sel .title{
    position: relative;
}

.main-sel .title:hover ol{
    display: block;
    
}

.main-sel .title > a {
    text-decoration: none;
    color: #EFE09A;
    align-items: center;
    font-size: 20px;
    text-align: center;
   
}

.main-sel .title > a > p{
    /* border: 1px solid red; */

    padding: 4px 8px;

    position: relative;
}

.main-sel .title > a > p:hover:after{
    content: "";
    display: block;
    width: 88px;
    border-bottom: 3px solid #92C1CB;
    position: absolute;

    bottom: -4px;
    left: 6px;
}

.main-sel .title > ol{
    /* border: 1px solid blue; */
    position: absolute;
    padding-top: 22px;
    left: -10px;
    top: 36px;
    width: 120px;
    text-align: center;
    display: none;
}


.main-sel .title > ol li{
    background: rgba(47, 71, 93, 0.9);
    padding: 4px 8px;
}

.main-sel .title > ol li:hover{
    background-color: #5F446F;
}

.main-sel .title > ol li a{
    color: #EFE09A;
    text-decoration: none;
}


.main-sel .title:last-child{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    position: relative;
}

.main-sel .title:last-child > a > i{
    font-size: 24px;
    position: relative;
}

.main-sel .title:last-child > a > i:hover:after{
    content: "";
    display: block;
    width: 25px;
    border-top: 3px solid #92C1CB;
    position: absolute;
    right: 0;
    bottom: -12px;
}


.main-sel .title:last-child > ol{
    /* border: 1px solid red; */
    position: absolute;
    left: -92px;
    top: 36px;
}




*{
    /* outline: 1px solid green; */
}

/*-------------- mobile主選單 ------------------*/

.mobileHeader{
    display: none;
}

@media screen and (max-width:1200px){
    .nav{
        padding: 0 32px;
    }
    .wrapper .main:nth-of-type(3)::after{
        width:1200px;
        max-width: 100%;
    }
}


@media screen and (max-width:1100px){
    .nav{
        padding: 0 32px;
    }
}

@media screen and (max-width:1000px){
    .scroll-nav{
        display: none;
    }

    .main-sel .title:hover ol{
        display: none;
        
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .mobileHeader{
        width: 100%;
        background-color: #2F475D;
        height: 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        top: 0;
        position: fixed;

        z-index: 500; /* 主選單 z-index 提高 */

    }
    
    .mobileHeader img{
        display: inline-block;
        width: 180px;
    }
    

    /* ------------------ 漢堡線 -------------------*/
     
      #menu-btn-container {
        width: 29px;
        height: 24px;
        margin-top: 24px;
        margin-left: 16px;
        transform: translateY(-50%) scale(2);
        
      }
      
      #menu-btn {
        width: 28px;
        height: 24px;
        overflow: hidden;
      }
      
      #menu-checkbox {
        display: none;
        width: 30px;
        height: 21px;
      }
      
      #menu-label {
        position: relative;
        display: block;
        height: auto;
        width: 28px;
        cursor: pointer;
      }
      
      #menu-label:before,
      #menu-label:after,
      #menu-bar {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
      }
      
      #menu-label:before,
      #menu-label:after {
        content: "";
        transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
      }
      
      #menu-label:before {
        top: 2px;
        background-color: #EFE09A;
      }
      
      #menu-label:after {
        top: 10px;
        background-color: #EFE09A;
      }
      
      #menu-bar {
        top: 18px;
        background-color: #EFE09A;
      }
      
      #menu-bar:before {
        content: "MENU";
        position: absolute;
        top: 5px;
        right: 0;
        left: 0;
        color: #FEFBF1;
        font-size: 6px;
        font-weight: bold;
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        text-align: center;
      }
      
      #menu-checkbox:checked + #menu-label:before {
        left: -39px;
      }
      
      #menu-checkbox:checked + #menu-label:after {
        left: 39px;
      }
      
      #menu-checkbox:checked + #menu-label #menu-bar:before {
        animation: moveUpThenDown 0.8s ease 0.2s forwards,
          shakeWhileMovingUp 0.8s ease 0.2s forwards,
          shakeWhileMovingDown 0.2s ease 0.8s forwards;
      }
      
      @keyframes moveUpThenDown {
        0% {
          top: 0;
        }
        50% {
          top: -16px;
        }
        100% {
          top: -8px;
        }
      }
      
      @keyframes shakeWhileMovingUp {
        0% {
          transform: rotateZ(0);
        }
        25% {
          transform: rotateZ(-10deg);
        }
        50% {
          transform: rotateZ(0deg);
        }
        75% {
          transform: rotateZ(10deg);
        }
        100% {
          transform: rotateZ(0);
        }
      }
      
      @keyframes shakeWhileMovingDown {
        0% {
          transform: rotateZ(0);
        }
        80% {
          transform: rotateZ(3deg);
        }
        90% {
          transform: rotateZ(-3deg);
        }
        100% {
          transform: rotateZ(0);
        }
      }
      
    /* ------------------ 漢堡線 -------------------*/
    
    .mobileHeader .main-sel{
        position: fixed;
        top: 80px;
        left: 0; 
        width: 60%; 
        background-color: rgba(47, 71, 93, 0.97);
        padding-left: 20px;
        transform: translateX(-100%); /* 隱藏在左側 */
        transition: transform 0.5s ease; /* 平滑過度 */
        z-index: 500; /* 主選單 z-index 提高 */
        height: 100%;
    }

    .mobileHeader .main-sel.active {
        transform: translateX(0); /* 移動到可見範圍 */
    }

    .mobileHeader .main-sel .title > a{
        text-align: left;
    }

    .main-sel .title{
        margin: 12px 0;
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        padding: 8px 24px;
    }

    .main-sel > ul:first-of-type{
        margin-top: 40px;
    }

    .main-sel > ul:first-of-type > li{
        margin: 12px 0;
        padding: 8px 12px;
    }

    .main-sel > ul:first-of-type > li > a{
        display: flex;
        color: #EFE09A;
        font-size: 24px;
        /* border: 1px solid red; */
        text-decoration: none;
    }

    .main-sel > ul:first-of-type > li > a > i{
        margin-right: 12px;
    }

    .mobileHeader .main-sel .title ol{
        display: none;
        position: absolute;
        left: 100%;
        top: 0;
        font-size: 24px;
        width: 30%;
        padding: 0;
    }

    .mobileHeader .main-sel .title ol.visible {
        display: block; /* 切換顯示 */
    }


    .main-sel .title > i{
        font-size: 24px;
        color: #EFE09A;
        margin-left: auto;
        cursor: pointer;
    }

    .main-sel .title > i:hover{
        color: #5F446F;
    }

    .main-sel .title > a > p{
        color: #EFE09A;
        display: flex;
        justify-content: flex-start;
        padding: 0;
        font-size: 24px;
    }


    .main-sel .title > a > p:hover:after{
        display: none;
    }

    .main-sel .title > a p:hover{
        background-color: #5F446F;
    }


    
}



@media screen and (max-width:820px) {
    #menu-btn-container{
        width: 24px;
        height: 20px;
        margin-top: 16px;
    }

    #menu-btn{
        width: 24px;
        height: 18px;
    }

    #menu-checkbox{
        width: 24px;
        height: 20px;
    }

    #menu-label{
        height: 24px;
        width: 20px;
    }

    #menu-label:before, #menu-label:after, #menu-bar{
        height: 3px;
    }

    #menu-label:after{
        top: 8px;
    }

    #menu-bar{
        top: 14px;
    }

    .mobileHeader img{
        width: 160px;
    }


}

@media screen and (max-width:660px) {
    .main-sel .title > a > p, .main-sel .title > i, .main-sel .title:last-child > a > i, .main-sel .title > ol li a, .main-sel > ul:first-of-type > li > a > i{
        font-size: 20px;
    }
}

@media screen and (max-width:570px) {
    .main-sel .title > a > p, .main-sel .title > i, .main-sel .title:last-child > a > i, .main-sel .title > ol li a, .main-sel > ul:first-of-type > li > a > i{
        font-size: 16px;
    }
}

@media screen and (max-width:480px) {
    .mobileHeader .main-sel .title ol{
        width: 40%;
    }
}

@media screen and (max-width:430px) {
    .mobileHeader img{
        width: 120px;
    }

    #menu-btn-container{
        width: 20px;
        height: 20px;
        margin-top: 8px;
    }

    #menu-btn{
        width: 17px;
        height: 18px;
    }

    #menu-checkbox{
        width: 16px;
        height: 16px;
    }

    #menu-label{
        height: 20px;
        width: 16px;
    }

    #menu-label:before, #menu-label:after, #menu-bar{
        height: 2px;
    }

    #menu-label:before{
        top: 5px;
    }

    #menu-label:after{
        top: 9px;
    }

    #menu-bar{
        top: 13px;
    }

    #menu-bar:before{
        font-size: 5px;
    }

    @keyframes moveUpThenDown {
        50% {
            top: -12px;
        }
        100% {
            top: -6px;
        }
    }

    .main-sel .title > a > p, .main-sel .title > i, .main-sel .title:last-child > a > i, .main-sel .title > ol li a, .main-sel > ul:first-of-type > li > a > i{
        font-size: 16px;
    }

    .mobileHeader .main-sel{
        width: 60%;
    }

    .mobileHeader .main-sel .title ol{
        width: 40%;
    }




        
}















/* ----------------- Footer ----------------------- */


.footer{
    /* border: 5px solid green; */
    width: 100%;
    bottom: 0;
    position: absolute;

}

.footer .footer-bg{
    width: 100%;
    background-color: #2F475D;
}

.footer div .main-footer{
    max-width: 1200px;
    height: 240px;
    background-color: #2F475D;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.footer div .main-footer .footer-logo{
    /* border: 2px solid red; */
    width: 270px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 48px;
}

.footer div .main-footer .footer-logo p{
    /* border: 2px s87olid #FEFBF1; */
    font-size: 14px;
    color: #FEFBF1;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 1px;
    text-align: left;
    width: 270px;
    padding: 16px 0;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
}

.footer div .main-footer a img{
    width: 180px;
    height: 56px;
}


.footer .main-footer>ul{
    display: flex;
    gap: 80px;

    /* border: 2px solid green; */
    margin-left: 86px;
}

.footer .main-footer>ul>li>a{
    color: #FEFBF1;
    line-height: 28px;
    text-decoration: none;
    display: block;
    /* border: 2px solid #FEFBF1; */
    width: 84px;
    height: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.footer .main-footer>ul>li>a:hover{
    color: #EFE09A;
}

.footer .main-footer>ul>li>.heading-link{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}


.footer .main-footer>ul>li>.heading-link:hover{
    color: #EFE09A;
}

/* ------ copyright--------- */


.footer .copyright{
    /* border: 5px solid purple; */
    height: 80px;
    color: #2F475D;
    /* border: 5px solid brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 220px ;
}

.footer .copyright p{
    line-height: 80px;
    font-weight: 500;
    line-height: 140%;
    font-size: 16px;
    font-family: "Roboto Flex", sans-serif;
}

.footer .copyright div a{
    text-decoration: none;
    margin-left: 24px;
    display: inline-block;
    height: 40px;
    /* border: 3px solid red; */
    line-height: 40px;
    text-align: center;
}

.footer .copyright div a i:hover{
    color: #B29671;
}


.footer .copyright div a i{
    font-size: 40px;
    color: #2F475D;
}



/*--------------- footer RWD -----------------*/


@media screen and (max-width:1150px) {
    .footer .main-footer>ul{
        gap:60px;
    }
}


@media screen and (max-width:1100px) {
    .footer .main-footer>ul{
        gap: 40px;
    }

    .footer .copyright{
        gap: 60px;
    }
}



@media screen and (max-width:1000px){
    .footer div .main-footer{
        display: none;
    }

    .footer .copyright{
        background-color: #2F475D;
        color: #FEFBF1;
    }

    .footer .copyright > div{
        display: none;
    }
}

@media screen and (max-width:800px){
    .footer .copyright p{
        font-size: 14px;
    }
}

@media screen and (max-width:630px) {
    .footer .copyright p{
        padding: 0 16px;
    }
}

@media screen and (max-width:600px){
    .footer .copyright p {
        padding: 0 70px;
    }
}


@media screen and (max-width:320px){
    .footer .copyright p{
        padding: 0 40px;
    }
}