.fullBanner{
    background-image: url(img/wild-geese-1150000_1920.jpg);
    width: 100%;
    height: 180px;
    background-position: 0 380px;
    background-size: cover;
}

.fullBanner>div{
    max-width: 1200px;
    margin: 0 auto;
    /* border: .5px solid red; */
    height: 180px;
    display: flex;
    align-items: center;

    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: 
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

.fullBanner>div>div:first-child{
    /* border: .5px solid blue; */
    width: 350px;
    margin-left: 48px;
}

.fullBanner>div>div:last-child{
    /* border: 5px solid black; */
    margin-left: auto;
    width: 350px;
    position: relative;

}

.fullBanner>div>div>h2{
    font-size: 72px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 2px;
    color: #FEFBF1;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.fullBanner>div>div>h4{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #FEFBF1;
    line-height: 140%;
}


.fullBanner>div>div:last-child>a{
    display: block;
    /* border: 2px solid green; */
    width: 45%;
    text-align: center;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-variation-settings: 
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;

    font-size: 26px;
    color: #EFE09A;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: absolute;

    bottom: 48px;
    right: 72px;
    -webkit-text-stroke: 0.5px #2F475D;
    z-index: 1;
}


.fullBanner>div>div>img{
    display: block;
    /* border: 5px solid green; */
    width: 243px;
    height: 100px;
    rotate: 10deg;
    margin-left: 60px;
    margin-top: 40px;
    opacity: 75%;
    margin-bottom: 10px;
}


.main{
    max-width: 1200px;
    margin: 0 auto;
}






/* ---------------- 中間文字區 ------------------- */
.fullBanner+.main{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: 
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
    color: #2F475D;
    /* border: 2px solid red; */
    box-sizing: border-box;

    display: flex;

    position: relative;
}


.fullBanner+.main>div:nth-of-type(1) .keyPoints{
    list-style: disc;
    font-weight: 600;
    font-size: 20px;
    line-height: 200%;
    max-width: 60%;
    margin: 60px 0 30px 80px;
    /* border: 3px solid blue; */
}


.fullBanner+.main div:nth-of-type(1) div{
    /* border: 3px solid green; */
    max-width: 480px;
    position: relative;
    margin-left: 60px;
}

.fullBanner+.main div:nth-of-type(1) div p{
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    width: auto;
    margin-bottom: 30px;

    /* border: 3px solid green; */
}


.fullBanner+.main div:nth-of-type(1) div>p+p+a{
    display: block;
    width: 168px;
    height: 46px;
    background-color: #2F475D;
    border-radius: 999px;
    color: #FEFBF1;
    font-size: 16px;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
    text-decoration: none;
    /* border: 0.5px solid #B29671; */
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    
    position: absolute;
    bottom: -28%;
    left: 32%;
    }

.fullBanner+.main div:nth-of-type(1) div>p+p+a:hover{
    background-color: #5F446F;
}


.fullBanner+.main .bgi{
    /* border: 2px solid brown; */
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: 
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;

    background: linear-gradient(180deg, rgba(254, 251, 241, 0.23) 0%, rgba(225, 227, 159, 0.46) 50%, rgba(211, 229, 164, 0.69) 100%);

    display: block;
    padding-left: 400px;


    /* 測試 */
    height: 1368px;
    /* height: 1680px; */

    z-index: -1;


    position: absolute;
    top: 0;
    right: 0;
    /* position: relative; */
    
}

.fullBanner+.main .bgi h1{
    font-size: 72px;
    font-style: italic;
    line-height: 120%;
    text-align: left;
    font-weight: 700;
    letter-spacing: 10px;
    color: #92C1CBCC;
    padding-top: 20%;
    box-sizing: border-box;
    opacity: 0.2;

    position: absolute;
    top: 2%;
    left: -53%;
    /* z-index: -2; */
}

.fullBanner+.main .bgi > img{
    box-sizing: border-box;
    right: 16px;
    top: 168px;
    object-fit: fill;
    z-index: -2;
    position: sticky;
}




